@font-face {
	font-family: 'Muller-R';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/Muller-Regular.otf);
}
@font-face {
	font-family: 'Raleway-M';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/Raleway-Medium.ttf);
}
@font-face {
	font-family: 'Raleway-SB';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/Raleway-SemiBold.ttf);
}
