.wrapper {
	padding: var(--main-padding);
	border-radius: var(--block-border-radius);
	background-color: var(--white-100);
	height: 324px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	h2 {
		text-transform: uppercase;
	}
	h3 {
		margin: var(--main-text-gap) 0 0 0;
		max-width: 515px;
		white-space: normal;
	}
}
