.decor {
	position: absolute;
}

.lowStar {
	&1 {
		width: 176px;
		height: 176px;
		left: 44px;
		top: 168px;
	}
	&2 {
		width: 139px;
		height: 139px;
		right: 335px;
		bottom: 56px;
	}
	&3 {
		width: 142px;
		height: 142px;
		right: 425px;
		top: 0px;
	}
}
.bigStar {
	&1 {
		width: 244px;
		height: 252px;
		right: 545px;
		bottom: -99px;
	}
	&2 {
		width: 163px;
		height: 168px;
		right: 209px;
		top: 77px;
	}
	&3 {
		width: 163px;
		height: 168px;
		left: 196px;
		top: 0px;
	}
}
.pentagon {
	&1 {
		width: 139px;
		height: 126px;
		right: 16px;
		top: 0px;
	}
	&2 {
		width: 135px;
		height: 122px;
		left: 504px;
		top: 45px;
	}
	&3 {
		width: 151px;
		height: 136px;
		left: 473px;
		bottom: 65px;
	}
}
.background_boy {
	width: 370px;
	height: 285px;
	left: 16px;
	bottom: 2px;
}
.background_girl {
	width: 324px;
	height: 490px;
	right: 0px;
	bottom: 6px;
}

@media screen and (max-width: 1406px) {
	.bigStar {
		&1 {
			width: 174px;
			height: 182px;
			right: 445px;
			bottom: 71px;
		}
		&2 {
			width: 163px;
			height: 168px;
			right: 179px;
			top: 17px;
		}
		&3 {
			width: 133px;
			height: 138px;
			left: 66px;
			top: 0px;
		}
	}
	.lowStar {
		&1 {
			width: 116px;
			height: 116px;
			left: 0;
			top: 248px;
		}
		&2 {
			display: none;
		}
		&3 {
			width: 122px;
			height: 122px;
			right: 405px;
			top: 30px;
		}
	}
	.pentagon {
		&2 {
			display: none;
		}
		&3 {
			width: 111px;
			height: 106px;
			left: 393px;
			bottom: 45px;
		}
	}

	.background_boy {
		width: 280px;
		height: 185px;
		left: -4px;
		bottom: 2px;
	}
	.background_girl {
		opacity: 0.8;
	}
}

@media screen and (max-width: 834px) {
	.bigStar {
		&1 {
			display: none;
		}
		&2 {
			width: 163px;
			height: 168px;
			right: 0%;
			top: 11%;
		}
		&3 {
			width: 113px;
			height: 118px;
			left: 12%;
			top: -1%;
		}
	}
	.lowStar {
		&1 {
			width: 96px;
			height: 96px;
			right: 2%;
			left: auto;
			bottom: 9%;
			top: auto;
		}
		&3 {
			width: 62px;
			height: 62px;
			right: 0;
			top: 0;
		}
	}
	.pentagon {
		&1 {
			width: 89px;
			height: 86px;
			left: 0%;
			top: 27%;
		}
		&3 {
			display: none;
		}
	}

	.background_girl {
		display: none;
	}
}
